
.page-header{
    position: relative;

    .hero{
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        z-index: -1;
    }
}