.post-type-archive-vanlive-performer {
    color: white;

    h1 {
        padding: 2rem;
        margin: auto;
        color: $color__text-title;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    h2 {
        margin: 0;
    }

    .entry-content {
        margin: 0;
    }

    section {
        margin-top: 10vh;
        background-color: $color__background-screen;
        z-index: 10;

        .section-desc {
            background-color: white;
            padding: 1rem;

            p {
                color: $color__background-screen;
                text-align: center;
                font-weight: bold;
                margin: auto;
                max-width: 50em;
            }
        }

        .section-header {
            background-color: white;
            display: flex;

            h2 {
                color: $color__text-title;
                width: 100%;
                margin: auto;
                text-align: center;
                font-size: 2rem;
            }
        }

        article {
            padding: 1rem;

            @include media(tablet) {
                padding: 2rem;
            }

            .performer-text {
                h2 {
                    margin: 1rem 0;
                }
            }

            h2 {
                color: $color__text-title;

                a {
                    color: $color__text-title;
                }
            }

            p {
                margin: 0;
            }
        }
    }

    .headliner {
        a:hover {
            color: white;
        }

        .performer-articles {
            @include media(desktop) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: flex-start;

                article {
                    min-width: 100%;
                    max-width: 100%;
                    height: auto;
                }
            }

            @include media(desktop-large) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 1rem;
            }
        }

        article {
            display: flex;
            flex-direction: column-reverse;

            .entry-content {
                a {
                    color: white;
                }

                margin: auto;

                img {
                    object-fit: contain;
                    object-position: center;
                    height: auto;
                    width: fit-content;
                    max-width: 100%;
                    max-height: 50vh;
                    @include media(desktop) {
                        max-height: 40vh;
                    }
                }
            }
        }

        .artist-desc {
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 9;
            display: -webkit-box;
            overflow: hidden;
           
            p {
                margin: 0;
            }

            @include media(tablet) {
                -webkit-line-clamp: none;
                display: block;
            }
        }
    }

    .secondary {
        a:hover {
            color: white;
        }

        .performer-articles {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 1rem;
            @include media(tablet) {
                grid-template-columns: 1fr 1fr 1fr;
            }

            article{
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-between;
            }
        }

        .performer-text h2 {
            text-align: center;
        }

        article .entry-content {
            display: flex;
            justify-content: center;

            img {
                max-height: 25vh;
                max-width: 100%;
                width: fit-content;
                margin: auto;
            }
        }
    }

    .tertiary {
        background-color: white;

        a:hover {
            color: $color__background-screen;
        }

        .performer-articles {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        article {
            .entry-content {
                display: none;
            }
        }
    }
}
