.post-type-archive-vanlive-performer{

    color: white;

    h1{
        padding: 2rem;
        margin: auto;
        color: $color__text-title;
        text-align: center;
    }

    
    h2{
        margin: 0;
    }

    .entry-content{
        margin: 0;
    }

    section{
        z-index: 10;
        background-color: $color__background-screen;
        article{
            padding: 1rem;
                h2{
                    color: $color__text-title;
                    a{
                        color:$color__text-title;
                        text-decoration: none;
                    }
    
                }
    
                p{
                    margin: 0;
                }
    
           }
    }

    .headliner{
      
        article{
            padding: 1rem;
        }  
    }

    .secondary{
        .performer-articles{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .entry-content div{
            display: none;
        }
    }

    .tertiary{
        .performer-articles{
            display: flex;
            justify-content: space-around;
        }
        

        article{

        }
        .entry-content{
            display: none;
        }
       
    }
}