.entry-title {
  text-align: center;
  color: #E56606;
}

.entry-content p {
 text-align: center;
}

.nav-next,
.nav-subtitle,
.nav-title {
  display: none;
}

.blog .site .site-main .post img.wp-post-image,
.single-post .site .site-main .post img.wp-post-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center 30%;
}