.site-footer#colophon {
    &>section {
        margin-top: 0;
    }
}

.site-vendor-showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 40px;
    @include media("desktop") {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-evenly;
    }
    .vendor-cta {
        width: 80%;
        padding-top: 20px;
        @include media("desktop") {
            width: 40%;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        p, h2 {
            margin: 10px 20px;
            @include media("tablet") {
                text-align: justify;
            }
        }
    }
    .our-partners {
        text-align: center;
        width: 80%;
        padding-top: 20px;
        @include media("desktop") {
            width: 40%;
        }
        h2 {
            margin: 0;
        }
        .our-partners-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            a {
                margin: 0 10px 10px;
            }
        }
    }
}

.site-social-media {
    background-color: $color__background-screen;
    position: relative;
    .subscribe-newsletter {
        width: fit-content;
        margin: auto;
        padding-top: 20px;
        h2 {
            font-size: 1.3rem;
            @include media("tablet-large") {
                font-size: 1.8rem;
            }
            @include media("desktop") {
                font-size: 2.2rem;
            }
            margin: 0;
            color: $color__text-title;
        }
        #gform_1 {
            #gform_submit_button_1 {
                width: 100%;
                font-size: 1.3em;
            }
        }
        
    }
    .nav-social-media {
        @include media("desktop") {
            position: absolute;
            right: 20px;
            top: 30px;
        }
        h2 {
            color: $color__text-white;
            font-size: 1.2em;
            @include media("tablet-large") {
                font-size: 1.5rem;
            }
            text-align: center;
        }
        nav {
            display: flex;
            justify-content: space-evenly;
            background-color: white;
            border-radius: 10px;
            width: 50%;
            margin: auto;
            a {
                height: 50px;
            }
        }
    }
}

.site-copyright {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: $color__background-screen;
    p {
        color: $color__text-white;
        margin: 10px 15px 5px;
        &.copyright {
            order: 2;
            @include media("tablet-large") {
                order: 0;
            }
        }
        a {
            color: $color__text-white;
            font-weight: bold;
            text-decoration: none;
            &:hover {
                color: $color__text-title;
            }
        }
    }
}