$color__background-body: #fff;
$color__background-screen: #002C40;
$color__background-button: #84CDE4;

$color__text-black:#000000;
$color__text-white: #ffffff;
$color__text-title: #E56606;
$color__text-nav: #0E2D40; 
$color__text-footer: #A6A6A6;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
